:root {
  --main-orange: #ff8120;
  --second-blue: #2451aa;
}

#main-section {
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  background-position: center;
}

#logo {
  border-radius: 50%;
}

#brand-name {
  font-weight: 700;
}

#socmed {
  font-size: 20px;
  color: var(--main-orange);
  margin-left: 5px;
}

.homepage h1 {
  font-size: 40px;
  color: var(--main-orange);
  text-transform: uppercase;
  font-weight: 1000;
  /* text-shadow: 3px 3px var(--second-blue); */
}

.homepage .quote {
  font-size: 45px;
  /* color: white; */
  /* text-shadow: 3px 3px var(--main-orange); */
  /* text-shadow: -3px -3px 0 var(--second-blue), 3px -3px 0 var(--second-blue),
    -3px 3px 0 var(--second-blue), 3px 3px 0 var(--second-blue); */
  /* text-shadow: -3px -3px 0 var(--main-orange), 3px -3px 0 var(--main-orange),
    -3px 3px 0 var(--main-orange), 3px 3px 0 var(--main-orange); */
}

.feature-icon {
  font-size: 75px;
  margin: 10px;
  color: var(--main-orange);
}

#footer {
  margin: 0;
}

.copyright {
  font-size: 12px;
}
